{
    "bangazonConfig": {
        "apiBaseUrl": ""
    },
    "firebaseConfig": {
        "apiKey": "",
        "authDomain": "",
        "databaseURL": "",
        "projectId": "",
        "storageBucket": "",
        "messagingSenderId": ""
    }
}